<div class="d-flex h-100 p-3 mx-auto flex-column" style="background: url(assets/campfire-2.jpg) no-repeat center center fixed;background-size:cover;">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">S'Moreschain Campfire</h3>
    </div>
  </header>

  <main role="main" class="inner cover">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>You ({{cdService.activeCamper?.name}})</h1>
        </div>
        <div class="col">
          <h1>Campfire</h1>
        </div>
        <div class="col">
          <h1>Other Campers</h1>
        </div>
      </div>
    </div>
  </main>

  <footer class="mastfoot mt-auto">
  </footer>
</div>