<div class="card-group">
    <div class="card">
        <div class="card-header">
            Graham Crackers
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="cursor:pointer;" [class.active]="selectedIngredients.includes(i.ingredientId)" (click)="toggle(i)" *ngFor="let i of availableIngredientsByType('GRAHAM_CRACKER')">{{i.brand}}</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            Marshmallows
        </div>
        <ul class="list-group list-group-flush">
                <li class="list-group-item" style="cursor:pointer;" [class.active]="selectedIngredients.includes(i.ingredientId)" (click)="toggle(i)" *ngFor="let i of availableIngredientsByType('MARSHMALLOW')">{{i.brand}}</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            Chocolate
        </div>
        <ul class="list-group list-group-flush">
                <li class="list-group-item" style="cursor:pointer;" [class.active]="selectedIngredients.includes(i.ingredientId)" (click)="toggle(i)" *ngFor="let i of availableIngredientsByType('CHOCOLATE')">{{i.brand}}</li>
        </ul>
    </div>
</div>

<button class="btn btn-primary btn-block mt-3" (click)="data.createSmore(selectedIngredients)">Create S'More!</button>