@{
    ViewData["Title"] = "Home Page";
}

<h1>Running Performance Tests...</h1>

<div id="output">

</div>

@section Scripts  {
    <script src="~/bridgeJs/BridgeDemo/Bridge/UI/Performance.js" asp-append-version="true"></script>
}
